<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="header">
            <h2>Blog Name</h2>
        </div>
        <div class="row">
        <div class="leftcolumn">
            <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg">Image</div>
            </div>
            <div class="card">
            <h2>TITLE HEADING</h2>
        </div>
        <div class="rightcolumn">
            <div class="card">
            <h2>About Me</h2>
            <p>I'm Houssam Ounejjar, I'm 19 years old, I'm a student at 1337 Coding school</p>
            </div>
            <div class="card">
            <h3>Follow Me</h3>
            <a href="https://github.com/houssam142">Github</a>
            </div>
        </div>
        </div>
    </body>
</html>
